#map-canvas {
	height: 100%;
	width: 100%;
}

.map {
	vertical-align: top;
	display: inline-block;
	height: 40rem;
	width: 49%;
	box-sizing: border-box;
	padding: $large-padding;
}

form {
	display: inline-block;
	width: 49%;
	text-align: right;
	padding: $large-padding $large-padding $large-padding 0;
	box-sizing: border-box;
	overflow: hidden;

	input, textarea {
		margin: 0 0 $medium-padding 0;
		width: 100%;
		display: inline-block;
		box-sizing: border-box;
		vertical-align:top;
	}

	textarea {
		height: 12rem;
	}
}
